/* Guide */
img[src="/steaminputglyphs/xbox_button_logo.svg"],
img[src="/steaminputglyphs/ps4_button_logo.svg"],
img[src="/steaminputglyphs/sc_button_steam.svg"] {
    content: var(--override-guide-image, var(--button-guide-image));
}

/* Guide SVG - Steam (Optimized starts-with query) */
._3Jfd85nK4bKoNf_gCSTX6U svg:has(> [d^="M21.8011"]) {
    display: none;
}
._3Jfd85nK4bKoNf_gCSTX6U:has(svg path[d^="M21.8011"]) {
    background: var(--override-guide-image, var(--button-guide-image)) center no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
}

/* A/South */
img[src="/steaminputglyphs/ps_button_x.svg"],
img[src="/steaminputglyphs/shared_button_a.svg"],
img[src="/steaminputglyphs/shared_color_button_a.svg"] {
    content: var(--button-a-image, url("/themes_custom/handheld-controller-glyphs/assets/shared/a.svg"));
}

/* B/East */
img[src="/steaminputglyphs/ps_button_circle.svg"],
img[src="/steaminputglyphs/shared_button_b.svg"],
img[src="/steaminputglyphs/shared_color_button_b.svg"] {
    content: var(--button-b-image, url("/themes_custom/handheld-controller-glyphs/assets/shared/b.svg"));
}

/* X/West */
img[src="/steaminputglyphs/ps_button_square.svg"],
img[src="/steaminputglyphs/shared_button_x.svg"],
img[src="/steaminputglyphs/shared_color_button_x.svg"] {
    content: var(--button-x-image, url("/themes_custom/handheld-controller-glyphs/assets/shared/x.svg"));
}

/* Y/North */
img[src="/steaminputglyphs/ps_button_triangle.svg"],
img[src="/steaminputglyphs/shared_button_y.svg"],
img[src="/steaminputglyphs/shared_color_button_y.svg"] {
    content: var(--button-y-image, url("/themes_custom/handheld-controller-glyphs/assets/shared/y.svg"));
}

/* View/Select */
img[src="/steaminputglyphs/xbox_button_select.svg"],
img[src="/steaminputglyphs/xbox360_button_select.svg"],
img[src="/steaminputglyphs/ps5_button_create.svg"],
img[src="/steaminputglyphs/sd_button_view.svg"] {
    content: var(--override-view-image, var(--button-view-image));
}

/* Menu/Start */
img[src="/steaminputglyphs/xbox_button_start.svg"],
img[src="/steaminputglyphs/xbox360_button_start.svg"],
img[src="/steaminputglyphs/ps5_button_options.svg"],
img[src="/steaminputglyphs/sd_button_menu.svg"] {
    content: var(--override-menu-image, var(--button-menu-image));
}

/* Trackpad */
img[src="/steaminputglyphs/sd_ltrackpad_swipe.svg"] {
    content: url("/themes_custom/handheld-controller-glyphs/assets/shared/trackpad.svg");
}
